<!DOCTYPE html>
<html lang="en">
<head>
    <title>Lelles burgers</title>
    <meta charset="utf-8"/>
</head>
<body>
<body>
<section>
<main>
<h1>Välkommen till Lelles burgers</h1>
</main>

    <section>

        <h4>Välj burgare:</h4>
        <p>Här kan du välja den burgaren du vill ha:</p>

        <h4>Halloumiburgare</h4>
        <td><img src="https://www.max.se/contentassets/be939d2988e747adacd14f5ead4231cb/product_halloumiburgare.jpg"  width="300"></td>
        <ul>
            <li>645 kcal</li>
            <li>Halloumi, briochebröd, jalapeñosalsa, rödlök, isbergssallad och majonnäs</li>
            <li> <div class="allergier">Gluten</li>
            <li>Pris: 60kr </li>
        </ul>

    </section>

    <section>
        <h4>Personlig information:</h4>
        <p>Skriv in din personliga information för att beställa</p>
        </section>



</section>
</body>

</body>
</html>