
body {
    font-family: "Roboto Light", sans-serif;
    font-size: 110%;
    margin-top:0px;
    margin-left:200px;
}
.allergi {
    color: #ff5500;
}

#Gluten{
    font-weight:bold;
}
#headerpic {
    width: 1000px;
    height: auto;
    margin-left: -450px;
    opacity: 0.9;
}


#header {
    width: 1000px;
    height: 250px;
    overflow:hidden;
    opacity: 0.7;

}

#Laktos{
    font-weight:bold;
}

#burgare{

    border: 20px solid rgba(0, 0, 0, 0.93);
    border-style: dashed;
    margin-top: 0px;
    margin-right: 240px;
    margin-left: 0px;
    border-width: 5px;
    padding-left: 10px;

    width: 20;
    background: ;
}

#table{
    width: 101%;

}

#kontaktinfo{
    color: white;
    border-style: dashed;
    border: 3px solid rgba(255, 255, 255, 0.93);
    margin-right: 240px;
    margin-left: 0px;
    background: black;
}

button{
    margin-top: 20px;
    margin-left:0px;
}


button:hover {
    color: greenyellow;
    cursor: pointer;
}
