body {
    font-family: "Roboto Light", sans-serif;
    font-size: 110%;
}
.allergi {
    color: #ff5500;
}

#Gluten{
    font-weight:bold;
}
#Laktos{
    font-weight:bold;
}

#burgare{

    color: white;
    width: 20;
    background: black;
}

#table{
    width: 101%;
    margin-left: 20px;
}

#kontaktinfo{


}

button:hover {
    color: greenyellow;
    cursor: pointer;
}
