body {
    font-family: "Roboto Light", sans-serif;
    font-size: 110%;
}
.allergi {
    color: #ff5500;
}

#Gluten{
    font-weight:bold;
}
#Laktos{
    font-weight:bold;
}

#burgare{

    color: white;
    background: black;
}
#kontaktinfo{


}